{% extends 'base.html.twig' %}

{% block title %}Nouveau livre{% endblock %}

{% block body %}
    <div class="container">
        <h1>➕ Ajouter un nouveau livre</h1>

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="form-container">
            {{ form_start(form) }}
                {{ form_row(form.titre) }}
                {{ form_row(form.auteur) }}
                {{ form_row(form.annePublication) }}
                {{ form_row(form.resume) }}
                {{ form_row(form.disponible) }}
                
                <div class="form-actions">
                    <button type="submit" class="btn btn-success">💾 Enregistrer</button>
                    <a href="{{ path('livre_index') }}" class="btn btn-secondary">🔙 Annuler</a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}